<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head th:replace="base :: head">
    <meta charset="UTF-8" />
    <title>Title</title>
</head>
<body>
<div class="container">
    <div class="jumbotron">
        <div class="container">
            <nav class="navbar navbar-default" th:replace="base::nav"> </nav>

            <table class="table table-hover">

                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Registered Date</th>

                </tr>
                <div th:each="person : ${persons}">

                    <tr>

                        <td><p th:text = "${person.firstName}"></p></td>
                        <td th:text = "${person.lastName}"></td>
                        <td th:text = "${person.email}"></td>
                        <td th:text = "${#dates.format(person.date, 'MMM-dd-yyyy')}"></td>

                    </tr>
                </div>

            </table>


            <table class="table table-hover">

                <tr>
                    <th>School Name</th>
                    <th>Degree</th>
                    <th>Field Of Study</th>
                    <th>Grade</th>


                </tr>
                <div th:each="education : ${educations}">

                    <tr>

                        <td th:text = "${education.schoolName}"></td>
                        <td th:text = "${education.degree}"></td>
                        <td th:text = "${education.fieldOfStudy}"></td>
                        <td th:text = "${education.grade}"></td>


                    </tr>
                </div>

            </table>


            <table class="table table-hover">

                <tr>
                    <th>Company Name</th>
                    <th>Position</th>
                    <th>From</th>
                    <th>To</th>
                    <th>Duty</th>


                </tr>
                <div th:each="test : ${Expvalues}">

                    <tr>

                        <td th:text = "${test.company}"></td>
                        <td th:text = "${test.position}"></td>
                        <td th:text = "${test.startingYear}"></td>
                        <td th:text = "${test.until}"></td>
                        <td th:text = "${test.duty}"></td>

                    </tr>
                </div>

            </table>

            <table class="table table-hover">

                <tr>
                    <th>Good at</th>
                    <th>Rating</th>

                </tr>
                <div th:each="test : ${Skillvalues}">

                    <tr>

                        <td th:text = "${test.skills}"></td>
                        <td th:text = "${test.rating}"></td>


                    </tr>
                </div>

            </table>


        </div>
    </div></div>
</body>
</html>