<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head th:replace="header :: head">
    <meta charset="UTF-8" />
    <title>Title</title>
</head>
<body>
<div class="jumbotron jumbotron-fluid container" >
<div class="container">
    <div class="jumbotron">
        <div class="container">
            <nav class="navbar navbar-default" th:replace="header::nav"> </nav>

            <table class="table table-hover">

                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>


                </tr>
                <div th:each="user : ${users}">

                    <tr>

                        <td><p th:text = "${user.firstName}"></p></td>
                        <td th:text = "${user.lastName}"></td>
                        <td th:text = "${user.email}"></td>


                    </tr>
                </div>

            </table>


            <table class="table table-hover">

                <tr>
                    <th>School Name</th>
                    <th>Degree</th>
                    <th>Field Of Study</th>
                    <th>Grade</th>


                </tr>
                <div th:each="education : ${educationIterables}">

                    <tr>

                        <td th:text = "${education.schoolName}"></td>
                        <td th:text = "${education.degree}"></td>
                        <td th:text = "${education.fieldOfStudy}"></td>
                        <td th:text = "${education.grade}"></td>


                    </tr>
                </div>

            </table>


            <table class="table table-hover">

                <tr>
                    <th>Title</th>
                    <th>Company Name</th>
                    <th>Location</th>
                    <th>From</th>
                    <th>To</th>
                    <th>Description</th>
                    <th>Email</th>


                </tr>
                <div th:each="experience : ${experienceIterable}">

                    <tr>

                        <td th:text = "${experience.title}"></td>
                        <td th:text = "${experience.companyName}"></td>
                        <td th:text = "${experience.location}"></td>
                        <td th:text = "${experience.startDate}"></td>
                        <td th:text = "${experience.endDate}"></td>
                        <td th:text = "${experience.description}"></td>
                        <td th:text = "${experience.email}"></td>

                    </tr>
                </div>

            </table>

            <table class="table table-hover">

                <tr>
                    <th>Skills</th>
                    <th>Rating</th>

                </tr>
                <div th:each="skill : ${skillsIterable1}">

                    <tr>

                        <td th:text = "${skil.skills}"></td>
                        <td th:text = "${skil.rating}"></td>


                    </tr>
                </div>

            </table>


        </div>
    </div></div>
</div>
<th:block th:replace="footer :: footer"></th:block>
</body>
</html>