<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head th:replace="header::head">
    <meta charset="UTF-8" />
    <title>Title</title>
</head>
<body>
<div class="container">
    <div class="jumbotron jumbotron-fluid container" >
<nav class="navbar navbar-default" th:replace="header::nav"></nav>
<form th:action="@{/search}" th:object="${job}"  method="post" >
        <input type="text" th:field="*{firstName}" name="firstName" placeholder="By Name"/>
        <button type="submit">Search</button>
</form>

        <form th:action="@{/searchAll}" th:object="${user}"  method="get" >
            <input type="text" th:field="*{email}" name="email" placeholder="By Email"/>
            <button type="submit">Search</button>
        </form>
   </div>
</div>

</body>
</html>